<template>
  <div class="Home">
    <h1 class="Home-title">Weather Sky</h1>
    <div class="Home-search" :class="results ? 'Home-search--hidde' : 'Home-search--show'">
      <input
        class="Home-input"
        v-model="search"
        placeholder="search for Bogota... or elsewhere"
        type="text"
        @keyup.enter="getData"
      />
      <BaseButton :disabled="!this.search" @click="getData">Search</BaseButton>
    </div>
    <div class="Home-results" :class="results ? 'Home-results--show' : 'Home-results--hidde'">
      <ListCard
        :items="places"
        label="Select a place"
        @click="getPlaceData"
      />
      <div>
        <BaseButton @click.prevent="newSearch" isLink>New search</BaseButton>
      </div>
    </div>
  </div>
</template>

<script>
import { getPlaceCoords } from '@/service/api'
import ListCard from '@/components/ListCard.vue'

export default {
  name: 'Home',
  components: {
    ListCard
  },
  data () {
    return {
      search: '',
      places: []
    }
  },
  computed: {
    results () {
      return this.places.length
    }
  },
  methods: {
    getData () {
      if (!this.search) {
        return
      }

      this.places = []

      getPlaceCoords(this.search)
        .then(res => {
          const places = res.data.features
          const featuresCount = places.length

          for (let i = 0; i < featuresCount; i++) {
            const { id, geometry: { coordinates }, place_name: placeName } = places[i]

            this.places.push({
              id,
              name: placeName,
              coords: coordinates.reverse()
            })
          }
        })
        .catch(err => console.error('ERROR::', err))
    },
    newSearch () {
      this.places = []
      this.search = ''
    },
    getPlaceData (place) {
      const { name, coords } = place

      this.$router.push({ name: 'place', params: { name, coords } })
    }
  }
}
</script>
<style lang="stylus">
.Home
  display flex
  flex-direction column
  align-items center
  height 100vh

  &-results
    flex 1
    padding 1rem
    overflow-y auto
    background-color var(--accent-color)
    position absolute
    transition .3s top ease
    will-change top
    &--show
      top 15%
      opacity 1
    &--hidde
      top 100%
      opacity 0

  &-title
    text-align center
    font-size 2.5rem
    margin 2rem 0

  &-search
    display flex
    flex-direction column
    transition .3s all ease
    will-change height
    width 100%
    max-width 750px
    &--hidde
      opacity 0
      overflow hidden
    &--show
      opacity 1
      overflow auto

  &-input
    line-height 3rem
    font-size 1.2rem
    padding 0.5rem
    border-radius 4px
    border none
    width 80%
    margin 0 auto 2rem
</style>
