<template>
  <div class="NotFound">
    <h3>Ooops!</h3>
    <h1>The page you are looking for is not here.</h1>
    <router-link :to="{ name: 'home' }">Go back to Home</router-link>
  </div>
</template>
<style lang="stylus" scoped>
.NotFound
  padding-top 50%
</style>
