<template>
  <section class="Place">
    <router-link :to="{ name: 'home' }">Back</router-link>
    <section class="Card" v-if="place">
      <div class="Card-header">
        <span class="Weather-temp">
          {{ Math.ceil(place.currently.temperature) }}
          <img class="Weather-icon" :src="`https://darksky.net/images/weather-icons/${place.currently.icon}.png`" :alt="place.currently.summary">
        </span>
        <span class="Weather-summary">{{ place.currently.summary }}</span>
        <h6>{{ name }}</h6>
        <span>{{ place.currently.time | parseUnixTime }}</span>
      </div>
      <div class="Card-body" v-show="hourlyTimes && hourlyTimes.length">
        <ListHourly :times="hourlyTimes"/>
        <ListDaily
          v-if="place.daily && place.daily.data.length"
          :days="place.daily.data"
          :times="hourlyTimes"
          :coords="coords"
          @click="getDataByTime"
        />
      </div>
      <div class="Card-footer">

      </div>
    </section>
  </section>
</template>

<script>
import { getPlaceData, getDataByTime } from '@/service/api'
import ListHourly from '@/components/ListHourly'
import ListDaily from '@/components/ListDaily'
import { parseUnixTime } from '@/filters/parseUnixTime'

export default {
  name: 'Place',
  components: {
    ListHourly,
    ListDaily
  },
  props: {
    name: {
      type: String,
      required: true
    },
    coords: {
      type: [Array, String],
      required: true
    }
  },
  data () {
    return {
      place: null
    }
  },
  filters: {
    parseUnixTime
  },
  created () {
    this.getDataByCoords(this.coords)
  },
  computed: {
    currentDay () {
      if (this.place && this.place.currently) {
        const date = this.parseUnixTime(this.place.currently.time)

        return date.getDate()
      }

      return null
    },
    hourlyTimes () {
      if (this.place && this.place.hourly) {
        const hourlyTimes = []
        const { data } = this.place.hourly
        const totalTimes = data.length

        for (let i = 0; i < totalTimes; i++) {
          const time = this.parseUnixTime(data[i].time)

          if (time.getDate() === this.currentDay) {
            hourlyTimes.push(data[i])
          }
        }

        return hourlyTimes
      }

      return []
    }
  },
  methods: {
    parseUnixTime (time) {
      return new Date(time * 1000)
    },
    getDataByCoords (coords) {
      getPlaceData(coords, true)
        .then(res => (this.place = res.data))
        .catch(err => console.error('SERVICE ERROR:', err))

      getPlaceData(coords)
        .then(res => (this.place = { ...this.place, ...res.data }))
        .catch(err => console.error('SERVICE ERROR:', err))
    },
    getDataByTime (time) {
      const placeClone = { ...this.place }
      this.place = null

      getDataByTime(this.coords, time)
        .then(res => (this.place = res.data))
        .catch(err => {
          this.place = placeClone
          console.error('Error getting Data by time:', err)
        })
    }
  }
}
</script>

<style lang="stylus">
  .Place
    overflow scroll
  .Card
    color var(--text-primary-color)
    height 100vh
    &-icon
      width 3rem
    &-header
      display flex
      flex-direction column
      align-items  center
      font-size 1.5rem
      padding 2rem 0
    &-body
      align-items center
      display flex
      flex-direction column
  .Weather
    &-temp
      font-weight 600
      font-size 5rem
      position relative
      width fit-content
      &:before
        content '\00b0'
        position absolute
        font-weight 200
        top 0
        right -40%
      &--small
        font-size 1rem
        margin 0
    &-icon
      position absolute
      left -50%
      top 10%
      width 3rem
      &--isolated
        position initial
        width 2rem
    &-summary
      display block
      width 100%
      font-size 1.3rem
      margin-bottom 1rem
      margin-top -1rem

</style>
