<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="stylus">
:root {
  --primary-color #44d0cd
  --secondary-color #51afd2
  --tertiary-color #4c81bb
  --accent-color-a #63539d
  --accent-color-b #604272
  --text-primary-color: #fbfbfb
  --text-secondary-color: #808080
}

*
  margin 0
  padding 0
  box-sizing border-box

#app
  background-image linear-gradient(175deg, rgba(81,175,210,1) 0%, rgba(76,129,187,1) 48%, rgba(99,83,157,1) 93%);
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color var(--text-primary-color)
  min-height 100vh
</style>
