<template>
  <div class="ListCard">
    <h2 class="ListCard-title" v-show="label">{{ label }}</h2>
    <ul>
      <li class="ListCard-item" v-for="item in items" @click="onItemClick(item)" :key="item.id">
        <h3>{{ item.name }}</h3>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ListCard',
  props: {
    label: {
      type: String
    },
    items: {
      type: Array,
      required: true
    }
  },
  methods: {
    onItemClick (item) {
      this.$emit('click', item)
    }
  }
}
</script>

<style lang="stylus">
  .ListCard
    &-title
      font-size 1.5rem
      color var(--text-primary-color)

    &-item
      list-style none
      background-color #fff
      box-shadow 0 0px 3px -2px rgba(255, 255, 255, 0.2), 0 4px 2px 0 rgba(255, 255, 255, 0.14), 0 1px 5px 0 rgba(255, 255, 255, 0.12)
      color: var(--text-secondary-color)
      text-align left
      margin 1rem 0
      line-height 3rem
      padding 0 1rem
      transition .2s box-shadow ease
      will-change box-shadow
      border-radius 4px
      position relative
      overflow hidden

      &:active
      &:hover
        box-shadow 0 5px 6px -2px rgba(255, 255, 255, 0.2), 0 6px 2px 0 rgba(255, 255, 255, 0.14), 0 1px 5px 0 rgba(255, 255, 255, 0.12)

</style>
