<template>
  <ul class="ListDaily">
    <li
      class="ListDaily-item"
      v-for="day in days"
      :key="day.time"
      @click="getDataByTime(day.time)"
    >
      <span class="ListDaily-day">{{ day.time | parseUnixTime }}</span>
      <span class="ListDaily-temp">
        Min:{{ day.temperatureMin | ceil }}
        <img class="ListDaily-icon" :src="`https://darksky.net/images/weather-icons/${day.icon}.png`" :alt="day.summary">
      </span>
      <span class="ListDaily-temp">
        Max:{{ day.temperatureMax | ceil }}
        <img class="ListDaily-icon" :src="`https://darksky.net/images/weather-icons/${day.icon}.png`" :alt="day.summary">
      </span>
    </li>
  </ul>
</template>

<script>
import { parseUnixTime } from '@/filters/parseUnixTime'

export default {
  name: 'ListDaily',
  props: {
    days: {
      type: Array,
      required: true
    },
    coords: {
      type: [Array, String],
      required: true
    }
  },
  filters: {
    parseUnixTime,
    ceil (value) {
      if (!value) {
        return 0
      }

      return Math.ceil(value)
    }
  },
  methods: {
    getDataByTime (time) {
      this.$emit('click', time)
      // this.$router.push({ name: 'place', params: { coords: this.coords, time }})
    }
  }
}
</script>

<style lang="stylus">
  .ListDaily
    display flex
    flex-wrap wrap
    justify-content center
    1rem .5rem
    flex-direction column
    align-items flex-start
    max-width 750px
    width 100%
    &-day
      padding-right 1rem
    &-item
      list-style none
      margin-bottom .5rem
      border-bottom 1px solid rgba(255,255,255,0.5)
      width 100%
      font-size 1.3rem
      line-height 2.5rem
      border-left none
      padding-left 1rem
      align-items center
      display flex
      flex-direction row
      transition .3s all ease
      position relative
      &:after
        content ''
        border 9px solid transparent
        position absolute
        right 0
        top 10px
        border-left-color rgba(255,255,255,0.5)
      &:active
      &:hover
        font-weight 700
        background-color #ffffff17
        border-radius 4px
      & .Weather-temp--small
        padding-right 1rem
        font-weight initial
        line-height 2rem
        display flex
      & .Weather-temp
        &:before
          right 45%
      & .Weather-icon--isolated
        margin-left 0.5rem
    &-icon
      position initial
      width 2rem
    &-temp
      font-size 1rem
      display flex
      position relative
      padding-right 1rem
      align-items center
      width 30%
      justify-content space-between
      &:before
        content '\00b0'
        position absolute
        font-weight 200
        top 0
        right 43%
</style>
