<template>
  <ul class="ListHourly">
    <li class="ListHourly-item" v-for="(time, index) in times" :key="time.time">
      <span v-if="index === 0">{{ label }}</span>
      <span v-else>{{ time.time | parseHours }}</span>
      <img
        class="ListHourly-icon"
        :src="`https://darksky.net/images/weather-icons/${time.icon}.png`"
        :alt="time.summary"
      >
      <span
        class="ListHourly-temp"
      >
        {{ Math.ceil(time.temperature) }}
      </span>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'ListHourly',
  props: {
    times: {
      type: Array,
      required: true
    }
  },
  filters: {
    parseHours (time) {
      if (!time) {
        return
      }

      const date = new Date(time * 1000)
      return `${date.getHours()}:00`
    }
  },
  computed: {
    label () {
      const { time } = this.times[0]
      const parsedTime = new Date(time * 1000)
      const currentDay = new Date()
      let label = 'Now'

      if (currentDay.getDate() !== parsedTime.getDate()) {
        label = `${parsedTime.getHours()}:00`
      }

      return label
    }
  }
}
</script>

<style lang="stylus">
  .ListHourly
    display flex
    flex-wrap wrap
    justify-content center
    padding 1rem
    width 100%
    max-width 500px
    &--column
      flex-direction column
      align-items flex-start
    &-item
      border-left 1px solid rgba(255, 255, 255, 0.5)
      flex 0 0 15%
      list-style none
      display flex
      flex-direction column
      align-items center
      margin-bottom 2rem
      &:first-child
        border-left none
    &-icon
      left -50%
      top 10%
      position initial
      width 2rem
    &-temp
      font-weight 600      font-size 5rem
      position relative
      width fit-content
      font-size 1rem
      margin 0
      &:before
        content '\00b0'
        position absolute
        font-weight 200
        top 0
        right -40%
</style>
