<template>
  <div>
    <button
      v-on="$listeners"
      v-bind="$attrs"
      class="button"
      :class="[buttonClass, { 'button--link': isLink}]"
    >
      <slot />
    </button>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  props: {
    buttonClass: {
      type: String
    },
    isLink: {
      type: Boolean
    }
  }
}
</script>
<style lang="stylus" scoped>
.button
  background var(--secondary-color)
  line-height 2.5rem
  width 80%
  margin 0 auto
  border-radius 4px
  border none
  font-size 1.1rem
  border-bottom 7px solid rgba(0, 0, 0, 0.3)
  color var(---tertiary-color)
  transition .1s all ease
  &:active
  &:focus
    outline none
  &:active
    border-bottom 4px solid rgba(0, 0, 0, 0.3)
  &:disabled
    background #8e8e8ecf
  &--link
    color var(--text-primary-color)
    background none
    border none
    text-decoration underline
</style>
